<p>dashboard works!</p>
<button (click)="_add()">Add Dynamic Component</button>
<button (click)="_toggle()">Toggle Data</button>
<div #dashboard id='dashboard'>
 Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sunt aut inventore voluptatibus nihil debitis fugiat eos, minima quisquam fugit, reiciendis recusandae perspiciatis temporibus animi asperiores, odit voluptates sit soluta dicta?
 Atque, optio totam quam provident unde ullam magni? Laborum error enim nobis dicta. Accusamus deserunt modi omnis. Nesciunt modi, officia voluptatum aut laborum adipisci dicta provident! Cupiditate cum recusandae consequuntur.
 Sed esse id, ullam, aliquam consequuntur quia quo doloremque asperiores rerum necessitatibus eligendi officiis. Ex, vel rem similique libero sit blanditiis omnis pariatur! Corrupti ab sit hic ex id. Adipisci.
</div>
